node_modules/
.pnpm-store/

dist/
build/
out/

packages/schema-types/src/generated/

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json
!.vscode/settings.json

.idea/

**/*.tgz